<footer
          class="text-center text-lg-start text-white"
          style="background-color: #405b75; overflow:hidden; width : 100%; margin-top : 2%; "
          >


    <!-- Section: Links  -->
    <section>
      <div class="text-center text-md-start">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-4">
            <!-- Content -->
            <h5 class="text fw-bold">İTÜRO</h5>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: white; height: 3px"
                />
            <p>
İTÜ Robot Olimpiyatları, robotik alanında çalışma yapmakta olan öğrencileri, akademisyenleri ve endüstri temsilcilerini düzenlenecek etkinlikler aracılığıyla bir araya getirmeyi hedefleyen ve meydana gelen teknolojik gelişmeler ışığında bu alanda yapılan çalışmaları sorgulamayı planlayan bir oluşumdur.            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-4">
            <!-- Links -->
            <h5 class="text fw-bold">Faydalı Sayfalar</h5>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: white; height: 3px"
                />
            <u>
              <p>
              <a translate="no" href="http://ituro.org/tr/" class="text-white">İTÜRO Web Sitesi</a>
            </p>
            <p>
              <a href="http://ituro.org/tr/hakkimizda/ituro-ekibi/" class="text-white">Ekibimiz</a>
            </p>
                <p>
                  <a href="http://ituro.org/tr/sponsorluk/sponsorlarmz/" class="text-white">Sponsorlarımız</a>
                </p>


            </u>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-4"
         style="background-color: rgba(0, 0, 0, 0.2);"
         >
      <a translate="no" class="text-white" href="https://www.linkedin.com/in/erenkaratass/"
         >©Copyright:
      İTÜRO 2022 IT Koordinatörü</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->